*{
    margin: 0;
    top : 0;
}

#header-img{
    width: 50px;
    height: 50px;
}
#header-img{
    margin-left: 60px;
}
.fa {
    font-size: 50px;
}
.title {
    padding-top: 15px;
    padding-bottom: 15px;
}
.price{
    /* width: 60rem; */
    margin: auto;
}
.btn{
    text-transform: uppercase;
}

#main-container {
    max-width: 60%;
}


.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
@media screen and (min-width: 960px) {


    #copyright {
        color: blueviolet;
    }

  }